{% extends "layout.html" %}

{% block title %}
Cheap Eats, Cheap Drinks
{% endblock %}

{% block main %}

    

            <main>
            <h1 align="left">Story</h1>
            <p align="left">Originally a final project for a CS class, Dealflock nows hosts live daily deals for over 100 bars and restaurants in NYC. With thouands of deals curated into a simple, understandle format, this is the one stop shop for all socialites in Manhattan to find more reasably priced ways to have fun. Everyday, we continue to grow our outreach throughout the city, and continue to find more ways for you to save money doing the things you love.</p>
            
            <h2 align="left">What's in store for the future?</h2>
            <p align="left">We plan to continue to our mission to aggregate every deal, in every borough, into a clean, simple website. Dealflock plans on conquering Brooklyn next, and spreading our savings across the east river. Queens, the Bronx, and Staten Island are on out not too distant agenda as well.  </p>
            
            <h3 align="left"> Contact Us</h3>
            <p align="left"> Your feedback is crutial to our success, and we would love to hear from you. You can contact us with any and all questions or suggestions at kevin@dealflock.com</p>
            </main>
            
        </div>
        
    </body>



{% endblock %}